@import 'node_modules/bootstrap/scss/bootstrap';

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

// Styles
h1, h2, h3, h4, h5, h6 {
  font-family: $roboto-slab;
  font-weight: normal;
}
.btn {
  font-family: $open-sans;
}
body{
    font-family: $roboto-slab;
    font-weight: normal;
    background-image: url(../images/black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
